.flick.template {
    display: none;
}

.actions {
    float: right;
}

.flick {
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    padding: 0.75rem 1.25rem;
    transition: 0.25s;
}

.flick+.flick {
    border-top: none;
}

.flick-name {
    flex-grow: 1;
}

.actions.button-group {
    margin-bottom: 0;
}

.button {
    -webkit-transition-duration: 0.4s;
    /* For Safari */
    transition-duration: 0.4s;
    border-radius: 15px;
}

li {
    font-weight: bold;
    color: black;
    font-size: 18px;
    font-family: sans-serif;
    text-align: left;
}

.flick.fav {
    background-color: yellow;
}

.button:focus {
    outline: 0;
}

input[name=search] {
    width: 200px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 20px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}


/* When the input field gets focus, change its width to 100% */

input[name=search]:focus {
    width: 100%;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

html {
    background: url("baywatch2.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}